body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: flex;
  position: relative;
  min-height: 500px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

div {
  padding: 10px;
}

.page-header {
  font-size: 2em;
}

.page-sub-header {
  font-size: 1.5em;
}

#homepageimage {
  max-width: 800px;
}

.game-title {
  font-size: 2em;
}

.homepage {
  display: none;
}

.highscorepage {
  display: none;
}

.score-display {
  font-size: 2em;
}

.instructionpage {
  display: none;
}

.instructions-screenshot {
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  height: 300px;
}

#instructions-image {
  max-width: 98%;
  max-height: 98%;
}

.instructions-body {
  flex-direction: row;
  align-items: center;
}

.instructions-controls {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.game1page {
  display: none;
}

.game-body {
  min-height: 300px;
}

.player-gamescreen {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
}
.player-1-game-footer {
  background-color: red;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.player-2-game-footer {
  background-color: blue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.daruma-block {
  color: black;
  height: 40px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  width: 100px;
  margin: 1px auto;
}

.player-timer {
  font-size: 1.5em;
}

.player-controls {
  font-size: 0.7em;
  background-color: darkgrey;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  display: flex;
  width: 200px;
  margin: 5px;
}

.player-control-key {
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  width: 40px;
  margin: 1px auto;
}

.player-score {
  vertical-align: bottom;
}

.game1endpage {
  display: none;
}

.winning-message {
  font-size: 1.5em;
}

.game-score-display {
  font-size: 2em;
}

.player-1-scorecard-col {
  background-color: red;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.player-2-scorecard-col {
  background-color: blue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
#player-1-win-count {
  font-size: 2em;
}
#player-2-win-count {
  font-size: 2em;
}

.game2page {
  display: none;
}
